.col-half {
  width: 50%;
}

.clear {
  clear: both;
}
/* ======================================== */

#header {
  height: 60px;
  width: 100%;
  background-color: rgb(221, 218, 219);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

#logo {
  margin: 10px 0;
}

#logo img {
  max-width: 136px;
  height: auto;
  margin: -9px 50px;
  padding: 7px 0;
}

#main-menu {
  display: flex;
  list-style: none;
}

#main-menu a {
  margin: -16px 0;
  text-decoration: none;
  color: black;
  display: block;
  padding: 18px 12px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
}

#main-menu a::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: tomato;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in;
}

#main-menu a:hover::after {
  width: 50%;
  transform: translateX(100%);
}

#main-menu li:hover a {
  color: red;
}


.Sign-Up{
  color: red;
  background-color: rgb(241, 236, 238);
  border-radius: 40px;
  border: 1px solid red;
  padding: 3px 37px;
  width: 150px;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.Sign-Up:hover {
  color: coral;
}



#Sign-In {
  margin-right: -239px;
}

#Sign-In a {
  text-decoration: none;
  color: black;
  display: block;
  line-height: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}


#Sign-In:hover a {
  color: red;
}



#Sign-Up:hover a {
  color: black;
}
/* ==========Strar LaslesVPN============= */
#LaslesVPN {
  margin-top: 53px;
}

.lasles-txt {
  margin: 73px 50px;
  display: inline-block;
}

.txt-lasles-1 {
  font-size: 40px;
}

.txt-lasles-2 {
  font-size: 18px;
}

.txt-laslesVPN-1 {
  font-weight: bold;
}

.lasles-img {
  margin: 50px 50px;
  width: 507px;
}

#about-laslesVPN {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 1157px;
  height: 383px;
  margin: auto;
}
/* ==========End LaslesVPN=================== */
/* ==========Strar Features=============== */

#Features {
  margin-top: 70px;
  background-image: linear-gradient(rgb(245, 241, 241), rgb(255, 255, 255));
}

#about-features {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 1157px;
  height: 383px;
  margin: auto;
}

.features-txt {
  margin-top: 61px;
  margin-left: 227px;
  display: inline-block;
}

.txt-features-1 {
  font-size: 40px;
}
.txt-features-2 {
  font-size: 18px;
}
.features-img {
  margin: 73px 50px;
  width: 507px;
}

.features-check {
  color: #808080;
  font-weight: 100;
  margin-top: 16px;
  line-height: 44px;
}

/* ==========End Features=============== */

#information {
}

.about-information {
  width: 800px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: auto;
}

.users,
.locations {
  border-right: 1px outset #f5f5f5;
  display: flex;
  padding-right: 86px;
}

.severs {
  display: flex;
  padding-right: 86px;
}

.users-90 {
  margin: -29px 16px;
}

.locations-30 {
  margin: -29px 16px;
}

.servers-50 {
  margin: -29px 16px;
}

#Choose {
  max-height: 1000px;
  margin: 70px 0px;
  border-top: 1px solid #faf4f4;

}

.choose-txt {
}
.choose-txt-hearder {
  padding-top: 30px;
  text-align: center;
  font-size: 35px;
}
.choose-txt-sub {
  text-align: center;
  width: 460px;
  margin: 30px auto;
  opacity: 0.5;
}
.choose-col {
  text-align: center;
}

.About-choose {
 display: flex;
 justify-content: center;
 
}


.choose-about-txt {
  text-align: left;
  line-height: 47px;
}

.choose-plan{
  /* display: inline-block;
  margin: 61px 71px;
  border: 2px solid #808080; */
  margin-top: 12px;
    padding: 93px;
    display: inline-block;
    margin: 61px 71px;
    border: 1px solid #dbd7d7;
    margin: 50px -3px;
    border-radius: 40px;
  
}

.choose-about-header {
  margin: 6px 31px;
  line-height: 60px;
}

.choose-about-bootom {
  text-align: center;
  font-size: 21px;
}

.btn-select {
    color: red;
    background-color: white;
    border-radius: 40px;
    border: 1px solid red;
    padding: 3px 37px;
    width: 150px;
    height: 56px;
    font-weight: bold;
    font-size: 18px;

}

.btn-select-red {
    background-color: red;
    color: white;
    border-radius: 40px;
    border: 1px solid red;
    padding: 3px 37px;
    width: 150px;
    height: 56px;
    font-weight: bold;
    font-size: 18px;
}

.btn-select:hover, .btn-select-red:hover {
  cursor: pointer;
  color: aquamarine;
}

/* ===========Huge============== */

.about-img-huge {
  margin-top: 80px ;
}

.img-huge {
 margin: 0 auto;  
}

#about-allapp {
  margin-top: -67px;
}

.img-allapp{
  margin: 0 auto;
  height: 120px;
}

/* ==========Modal============ */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(155, 149, 149, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-container {
  background-color: #fff;
  width: 492px;
  min-height: 514px;
  position: relative;
  max-width: calc(100% - 32px);
  /* khoảng cách 2 bên màn hinh mỗi bên là 16px khi thu nhỏ  */
  animation: modalFadeIn ease-in-out 0.5s;
  padding: 34px 48px;
  border-radius: 40px;
  animation: modeFadeIn  ease-in-out 0.3s;
  
}


.modal-header{
  text-align: center;
  height: 50px;
  background-color: aquamarine;
  line-height: 50px;
  border-radius: 30px;
}
.modal-network{
  display: flex;
  margin-top: 32px;
  margin-bottom: 17px;
  justify-content: center;
}


.modal-ms{
  background-color: #4281dc;
  color: white;
  width: 132px;
  height: 38px;
  padding: 10px;
  border-radius: 15px;

}
.modal-fb{
  background-color: #3b5998;
  color: white;
  width: 132px;
  height: 38px;
  margin: 0 11px;
  padding: 10px;
  border-radius: 15px;

}
.modal-gg{
  background-color: #d82424;
  color: white;
  width: 132px;
  height: 38px;
  padding: 10px;
  border-radius: 15px;

}

.modal-ms a, .modal-fb a, .modal-gg a {
  color: rgb(255, 255, 255);
}

.modal-or{
  text-align: center;
  margin-bottom: 17px;
}
.modal-btn-Sign-Up{
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 40px;
  background: linear-gradient(270deg
,#8f73f0 0%,#5095ff 100%);
  border: none;
  border-radius: 10px;
  color: white;
}

.modal-btn-Sign-Up:hover {
  cursor: pointer;
  color: red;
}

.modal-body{

}

#User-name {
  display: block;
  width: 100%;
  margin: 30px 0;
  font-size: 15px;
  line-height: 37px;
  padding: 0px 15px;
  border-radius: 30px;
  border: 1px solid #dbd7d7;
}

#User-password {
  display: block;
  width: 100%;
  margin: 30px 0;
  font-size: 15px;
  line-height: 37px;
  border-radius: 30px;
  padding: 0px 15px;
  border: 1px solid #dbd7d7;

}

.modal-close{
  text-align: center; 
  border-radius: 50px;
  background-color: turquoise;
  width: 50px;
  height: 50px;
  line-height: 69px;
  margin: 28px auto;
}

.modal-close:hover {
  cursor: pointer;
  background-color: orchid;
  color: white;
}

.modal-icon-close {
  font-size: 30px;
}

#evaluate {
word-break: break-word;;
}

.evaluate-img{
  display: flex;
  margin: 12px 130px;
}

.evalute-avt {
  width: 60px;
  border-radius: 100%;
  
}

.evalute-name{
 
}

.evalute-about-header {
  display: flex;
  margin-bottom: 23px;
}

.evalute-name-h3{
  margin: 0 13px;
}

.about-star-p {
  display: flex;
}
.star{
  margin: 6px 4px;
  color: orange;
  display: inline-block;
  
}

.evaluate-1, .evaluate-2, .evaluate-3{
  padding: 42px 29px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 0 26px;
  width: calc(100%/3);

}

/* .evaluate-2{
  padding: 42px 29px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 0 26px;
  width: calc(100%/3);
}
.evaluate-3{
  padding: 42px 29px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 0 26px;
  width: calc(100%/3);

} */

.evalute-name-h5 {
  margin: 0 12px;
  opacity: 0.6;
  display: block;
}

.evalute-txt-p {
  margin: 3px 0;
}

.about-evaluate-bt{

}
.evaluate-bt1{

}

.evaluate-bt2{
  float: right;
  margin: 6px 145px;
}
.evl-bt2-left{
  color: red;
  font-size: 60px;
}
.evl-bt2-right{
  color: red;
  font-size: 60px;

}

#Subscribe {
  width: 1157px;
  display: block;
  align-items: center;
  margin: 77px auto;
  
}

.Subscribe-txt{
  width: 30%;
}
.Subscribe-now{
  float: right;
}

.Subscribe-h2{

}
.Subscribe-h4{
  opacity: 0.5;
  margin: 6px 0;
}
.btn-Subcribe {
    border-radius: 39px;
    color: white;
    background-color: red;
    font-size: 23px;
    padding: 5px 26px;
    border: none;
    box-shadow: 2px 14px 15px 1px #fccdcd;
}


/* ===============Lasles-bt================= */
#lasles-bt {
  display: flex;
  justify-content: space-around;
  margin: 12px 130px;
}

.laslesVPN-col{

}
.lasles-bt-txt{
  margin: 10px 0;
}
.lasles-bt-mxh{
  margin: 10px 0;
  font-size: 30px;
}

.lasles-bt-mxh > a {
  color: red;
  text-decoration: none;
}

.lasles-mxh-ins{

}

.lasles-mxh-fb{

}

.lasles-mxh-linkedin{

}

.lasles-bt-bt{
  opacity: 0.6;
}

.lasles-col-1{
  line-height: 2.1;
}

.about-lasles-col-1-txt{
  list-style: none;

}

.lasles-col-1-txt-header{
font-weight: bold;
}

.lasles-col-1-txt{

}

.lasles-col-2{
  line-height: 2.1;

}

.about-lasles-col-2-txt{
  list-style: none; 
  
}
.lasles-col-3{
  line-height: 2.1;

}

.about-lasles-col-3-txt{
  list-style: none;

}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
 #Sign-In {
   
 }

 #Sign-Up {
   
 }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  #about-laslesVPN {
    flex-direction: column-reverse;
    display: block;
  }

  .lasles-img {
    display: block;
  }

  .information {
    margin: 1110px 0;
  }
}







